
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#firstTab">Show All</a></li>
    <li class="active"><a data-toggle="tab" href="#secondTab">Insert New</a></li>
</ul>
<div class="tab-content" style="background-color:aliceblue">
    <div id="firstTab" class="tab-pane fade in" style="background-color:yellow">@Html.Action("ViewAll")</div>
    <div id="secondTab" class="tab-pane fade in active" style="background-color:greenyellow">@Html.Action("AddOrEdit")</div>
</div>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });

    </script>
}